@use "sass:color";
@use "../utils/mixins";
@use "../utils/variables" as *;


.analysis-card {
    .badge {
        min-width: 90px;
        padding: 8px 11px;
    }
}

.recruitment-bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    mix-blend-mode: luminosity;
}

.recruitment-chart {
    height: 100%;
    max-height: 157px;
}

.avghiretime-chart {
    min-height: 230px;
    margin-bottom: 20px;
}

.bg-soft-transparent-success {
    background-color: $bg-soft-transparent-success;
}

.assets-by-department-card {
    display: flex;
    flex-direction: column;

    .assets-department-row {
        margin-bottom: 15px;
    }

    .assets-department-name {
        width: 90px;
        font-size: 14px;
        font-weight: 500;
        color: $dark;
        margin-bottom: 7px;
    }

    .assets-progress-area {
        position: relative;
        flex: 1;
        height: 37px;

        .assets-progress-track {
            position: absolute;
            inset: 0;
            height: 38px;
            background-color: $light;
            border-radius: 0 20px 20px 0;
        }

        .assets-progress-fill {
            position: absolute;
            height: 101%;
            background-color: $secondary;
            border-radius: 0 20px 20px 0;

            .assets-progress-value {
                position: absolute;
                right: 4px;
                top: 50%;
                transform: translateY(-50%);
                background-color: $white;
                color: $secondary;
                font-size: 12px;
                font-weight: 700;
                padding: 8px 10px;
                border-radius: 999px;
                border: 2px solid $secondary;
                line-height: 1;
                white-space: nowrap;
            }
        }
    }

    .assets-axis-scale {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
    }
}




.asset-list {
    display: flex;
    flex-direction: column;
    gap: 14px;

    .asset-item {

        .bar {
            position: relative;
            height: 38px;
            background: $light;
            border-radius: 999px;
            padding-right: 14px;
            display: flex;
            align-items: center;

            .fill {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                background: $secondary;
                border-radius: 999px;
                display: flex;
                align-items: center;
                padding-left: 6px;

                .percent {
                    font-size: 12px;
                    font-weight: 600;
                    background: $white;
                    color: $secondary;
                    border-radius: 999px;
                    white-space: nowrap;
                    position: absolute;
                    right: 2px;
                    width: 48px;
                    height: 34px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                }

                &.fill-40 {
                    width: 60%;
                    background: $secondary;
                }

                &.fill-20 {
                    width: 40%;
                    background: $secondary-900;
                }

                &.fill-15 {
                    width: 35%;
                    background: $secondary-800;
                }

                &.fill-5 {
                    width: 30%;
                    background: $secondary-700;
                }
            }

            .label {
                margin-left: auto;
                font-size: 14px;
                font-weight: 500;
                color: $dark;
                z-index: 2;
            }
        }
    }
}

.asset-value-lable {
    margin-bottom: -20px;
}

#asset-value {
    min-height: 0 !important;
    height: 65px;
}



.date-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 56px;
    height: 56px;
    padding: 4px 8px;
    background: $light;
    margin-right: 12px;
}

.performance-card {
    .progress {
        height: 6px;

        .progress-bar {
            border-radius: 10px;
        }
    }

    .card {
        &:hover {
            background: $dark;

            h2,
            p {
                color: $white;
            }

            .dark-progress {
                background: $gray-600;
            }
        }
    }
}

.openings-table {
    .card-body {
        padding-bottom: 10px;
    }
}

.mb-20 {
    margin-bottom: 20px;
}

.p-2px {
    padding: 2px;
}


.job-opening-table {
    .card-body {
        padding-bottom: 0px;
    }
}